.wrapper.wrapper-full-page
  .register-page
    .content
      .container
        .row
          .col-md-8.col-md-offset-2
            .header-text
              h2 Título
              h4 SubTítulo
              hr
          .col-md-4.col-md-offset-2
            .media
              .media-left
                .icon.teal-text
                  i.ion-cash
              .media-body
                h5 Lorem title
                | Lorem ispum dolor it meum
            .media
              .media-left
                .icon.icon-danger
                  i.ion-cash
              .media-body
                h5 Lorem title
                | Lorem ispum dolor it meum
            .media
              .media-left
                .icon.icon-danger
                  i.ion-cash
              .media-body
                h5 Lorem title
                | Lorem ispum dolor it meum
          .col-md-4
            form(method="#" action="#")
              .card.card-plain
                .content
                  .form-group
                    input(type="email" placeholder="Nome Completo" class="form-control")
                  .form-group
                    input(type="email" placeholder="E-mail" class="form-control")
                  .form-group
                    input(type="email" placeholder="Telefone (DDD) 9999-9999" class="form-control")
                | {{ $scope }}
                .footer.text-center
                  button.btn.btn-fill.btn-warning.btn-wd(type="submit") Create Free Account
