.wrapper.wrapper-full-page
  .full-page.register-page
    .content
      .container
        .row
          .col-md-8.col-md-offset-2
            .header-text
              h2 Obrigado pelo interesse
              h4 Será um prazer estar com você nessa jornada.
              hr
        .row.section-features
          .col-md-12
            h3.no-margin.white-text.center Seu app pode sair GRÁTIS!
            h4.no-margin.white-text.center Ganhe R$ 500 de desconto por cada amigo indicado que fechar conosco

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-white.social-action(href="{{ shareOn('facebook') }}" target="_blank")
              i.ion-social-facebook
              span.separator |
              | Facebook


            a.btn.btn-white.social-action(href="{{ shareOn('twitter') }}" target="_blank")
              i.ion-social-twitter
              span.separator |
              | Twitter


            a.btn.btn-white.social-action(href="{{ shareOn('gplus') }}" target="_blank")
              i.ion-social-googleplus
              span.separator |
              | GooglePlus


            a.btn.btn-white.social-action(href="{{ shareOn('linkedin') }}" target="_blank")
              i.ion-social-linkedin
              span.separator |
              | LinkedIn


          .row.margin_top
            .col-md-6.col-md-offset-3
              h5.white-text.center
                i.ion-link.left-icon
                | {{ encodedURL }}



          //ul.col-md-8.col-md-offset-2.tabs.white-text
          //  li.col-md-6(ng-class="{active:false}"): a Pagar e começar agora
          //  li.col-md-6(ng-class="{active:true}"): a Seu app pode sair de graça

          //.col-md-12
          //  h5.white-text.center Por favor, escolha sua forma de pagamento ou contate-nos no chat.
          //.col-md-4
          //  .card.card-white
          //    .icon
          //      i.ion-card
          //    .text
          //      h4 Cartão de Crédito
          //
          //
          //.col-md-4
          //  .card.card-white
          //    .icon
          //      i.ion-card
          //    .text
          //      h4 Cartão de Débito
          //
          //
          //.col-md-4
          //  .card.card-white
          //    .icon
          //      i.ion-arrow-swap
          //    .text
          //      h4 Transferência TED


    .full-page-background(style="background-image: url(images/backgrounds/web.png)")


link(href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css")
link(href="styles/theme.css" rel="stylesheet" type="text/css")
