@media only screen and (max-width : 767px) {
  ul {
    li {
      margin: 10px 0 !important;
      text-align: left !important;
    }
  }

  .parallax.filter-gradient {
    .container {
      margin-left: -12px !important;
    }
  }

  .landing-page .parallax {
    height: 1380px !important;
  }

  #comparison {
    .col-md-2 {
      margin: 22px 0;
    }
  }

  .section-clients {
    ul li {
      text-align: center !important;
    }
  }

  a.btn {
    left: -10px !important;
    white-space: normal;
    max-width: 100% !important;
  }

  .landing-page {
    .parallax {
      .container {
        width: 100% !important;
        margin: -40px 0 0 0 !important;

        iframe {
          width: 100% !important;
        }
      }

      .parallax-image {
        margin: 15px auto 0 !important;
      }
    }
  }

  .call_to_action {
    a {
      margin-left: 20px !important;
    }
  }

  footer.footer {
    p {
      margin-left: 50px;
    }

    i.icon {
      left: 10px;
    }
  }
}
